on:
  workflow_call:

name: Tests

jobs:
  unit:
    name: Unit
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: true
          ssh-key: ${{ secrets.CHECKOUT_SSH_KEY }}
      - name: Initialize Submodules
        run: |
          git submodule init
          git submodule update
      - name: Setup Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
      - name: Use Cache
        uses: Swatinem/rust-cache@v1
      - name: Run Tests
        uses: actions-rs/cargo@v1
        with:
          command: test
  formatting:
    name: Formatting
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: true
          ssh-key: ${{ secrets.CHECKOUT_SSH_KEY }}
      - name: Initialize Submodules
        run: |
          git submodule init
          git submodule update
      - name: Setup Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
      - name: Use Cache
        uses: Swatinem/rust-cache@v1
      - name: Check Formatting
        uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: --all -- --check
  clippy:
    name: Clippy
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: true
          ssh-key: ${{ secrets.CHECKOUT_SSH_KEY }}
      - name: Initialize Submodules
        run: |
          git submodule init
          git submodule update
      - name: Install Clippy
        run: rustup component add clippy
      - name: Use Cache
        uses: Swatinem/rust-cache@v1
      - name: Run Clippy
        uses: actions-rs/clippy-check@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          name: Clippy Results
