on:
  workflow_call:
    secrets:
      SERVICE_ACCOUNT_TOKEN:
        description: 'Service account access token to checkout private repositories'
        required: true
      ENV:
        type: string
        description: 'Test env vars'
        default: ''
    inputs:
      context:
        type: string
        description: 'Context for the tests'
        default: .
      integration:
        type: boolean
        description: 'Run integration tests'
        default: false

name: Tests

jobs:
  unit:
    name: Unit
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: recursive
          token: ${{ secrets.SERVICE_ACCOUNT_TOKEN }}
      - name: Setup Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
      - name: Use Cache
        uses: Swatinem/rust-cache@v1
      - name: Run Tests
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
      - run: ${{ secrets.ENV }} cd ${{ inputs.context }} && cargo test --lib
  integration:
    if: ${{ inputs.integration }}
    name: Integration
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: recursive
          token: ${{ secrets.SERVICE_ACCOUNT_TOKEN }}
      - name: Setup Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
      - name: Use Cache
        uses: Swatinem/rust-cache@v1
      - name: Run Tests
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
      - run: ${{ secrets.ENV }} cd ${{ inputs.context }} && cargo test --test integration
  formatting:
    name: Formatting
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: recursive
          token: ${{ secrets.SERVICE_ACCOUNT_TOKEN }}
      - name: Setup Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
      - name: Use Cache
        uses: Swatinem/rust-cache@v1
      - name: Check Formatting
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
      - run: cd ${{ inputs.context }} && cargo fmt --all -- --check
  clippy:
    name: Clippy
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: recursive
          token: ${{ secrets.SERVICE_ACCOUNT_TOKEN }}
      - name: Install Clippy
        run: rustup component add clippy
      - name: Use Cache
        uses: Swatinem/rust-cache@v1
      - name: Use Cache
        uses: Swatinem/rust-cache@v1
      - name: Run Clippy
        # switch to actions-rs/clippy-check@v1 once this gets merged:
        # https://github.com/actions-rs/clippy-check/pull/158
        uses: reinismu/clippy-check@master
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          working-directory: ${{ inputs.context }}
          name: Clippy Results
